<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="CSE Motors - Your trusted partner in quality vehicles.">
  <meta name="keywords" content="CSE Motors, vehicles, cars, dealership, trusted partner">
  <meta name="author" content="CSE Motors">

  <meta property="og:title" content="<%= title || 'CSE Motors' %>">
  <meta property="og:description" content="Your trusted partner in quality vehicles.">
  <meta property="og:image" content="/public/images/carbanner1.jpg">
  <meta property="og:url" content="http://localhost:5500">
  <meta property="og:type" content="website">

  <title><%= title || 'CSE Motors' %></title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/styles.css" media="screen">

  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
  <link rel="manifest" href="/public/images/site.webmanifest">
</head>
