<h1>Welcome to <span style="color: #1e3a8a;">CSE Motors</span></h1>
<p style="font-size: 1.2rem; color: #374151;">Your trusted partner in quality vehicles.</p>
<img src="/public/images/carbanner1.jpg" alt="Sleek car in showroom representing CSE Motors brand" class="banner">
